.vs/
.vscode/
.DS_Store

x64/
Project2/x64/

*.obj
*.ilk
*.idb
*.ipdb
*.iobj
*.pdb
*.pch
*.sbr
*.tlog
*.lastbuildstate
*.log

Project2/*.vcxproj.user
*.suo
*.VC.db
*.VC.VC.opendb

users.dat

# Additional ignores for artifacts and packages
**/Debug/
*.exe
*.recipe
Project2_src.zip
